@font-face {
    font-family: 'GameOfThrones';
    src: url('/fonte/TrajanPro-Bold.otf') format('truetype');
}

html, body{
    background-color: #000000 ;
    margin:0px;
    padding:0px; 
}

div#header{
    width:1235px;
    height:95px; 
    margin:0px auto;
    display:block;
    /* background-color: #f6ac0a; */
    position: relative;
    z-index:10; 
}

div#header h1{
margin-top:34px;
float: left;  
}

ul#nav {
 list-style-type: none;
 padding-left: 0px;
 float: left;
 /* background-color: aquamarine; */
 margin-left: 830px;
 margin-top: -119px;
}
ul#nav li{
    float: left; 
    margin-right:30px;
}

ul#nav a{
    text-decoration: none;
    font-size: 15pt;
    font-style: bold;
    color:#f6ac0a;
    font-family: 'GameOfThrones';
}

div#background{
    width:1235px;
    height: 450px;
    margin: 41px auto;
    /* background-color: brown; */
    background-image: url(/Imagens/bg_got_1.png); 
    background-size: 70%;
    background-repeat: no-repeat;
    position: block;
    z-index: 1; 
}
div#footer{
    width:1235px;
    height: 50px;
    /* background-color: rgb(119, 0, 255); */
    text-align: center;
    margin: -60px auto;
    z-index: 3; 
    display: flex; 
    flex-direction: column;
}

div#footer span{
    color:#f6ac0a;
    font-family: 'GameOfThrones'; 
    font-size: 8pt;
    font-style: bold;
    text-align: center; 
}
div#icones{
    height: 19px;
    width: 158px; 
}
.icones img {
   margin-top: 10px;
   margin-left: 10px; 
}