@font-face {
    font-family: 'GameOfThrones';
    src: url('../assets/font/TrajanPro-Bold.otf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    font-family: "Gameofthrones";
    background-color: #000000;
    color: #f6ac0a;
    text-decoration: none;
}

#home{
    background-image: url('.../assets/img/bg2.png');
    background-size: 85%;
    background-position-x: center;
    background-position-y: 100px;
    background-repeat: no-repeat;
}

a:visited {
    color: inherit;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-imagem{
    height: 150px;
    padding: 24px;
}

.cabecalho-nav{
    display: flex;
    gap: 32px;
}

.cabecalho-nav-a{
    font-size: 24px;
}

.conteudo{
    width: 85%;
    margin: auto;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 32px;
    padding-top: 120px;
}

.conteudo-principal-escrito-titulo{
    font-size: 32px;
}

.conteudo-principal-escrito-subtitulo{
    font-size: 18px;
}

.conteudo-principal-escrito-botao{
    background-color: brown ;
    color: #f6ac0a;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 2px;
    font-size: 32px;
    font-family: "Gameofthrones";
}

.conteudo-principal-escrito-botao:hover{
    background-color: #000000;

}

.conteudo-principal-imagem{
    width: 40%;
}

.conteudo-secundario{
    padding-top: 250px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 48px;
    padding-bottom: 48px;
}

.conteudo-secundario-titulo{
    font-size: 32px;
}

.conteudo-secundario-info{;
    font-size: 16px;
}

.conteudo-terciario{
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 42px;
}

.conteudo-terciario-titulo{
    font-size: 32px;
    align-items: flex-end;
    width: 100%;
}

.conteudo-terciario-info{
    font-size: 16px;
}

.conteudo-terciario-botao{
    background-color: brown ;
    color: #f6ac0a;
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 2px;
    font-size: 32px;
    font-family: "Gameofthrones";
}

.conteudo-terciario-botao:hover{
    background-color: #000000;

}

.conteudo-quaternario{
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 42px;
}

.conteudo-quaternario-titulo{
    font-size: 32px;
    width: 100%;
}

.conteudo-quaternario-info{
    font-size: 16px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;

}

.img-quaternario-info{
    width: 100%;
    margin: auto;
}


#botao1{
    display: none;
}
 
#botao2{
    display: none;
}

#botao3{
    display: none;
}
 
#botao4{
    display: none;
}

#botao5{
    display: none;
}
 
#botao6{
    display: none;
}

#botao7{
    display: none;
}
 
#botao8{
    display: none;
}

#botao9{
    display: none;
}
 
#botao10{
    display: none;
}

#botao11{
    display: none;
}
 
#botao12{
    display: none;
}

#contato{
    background-image: url('../assets/img/crown.jpeg');
    background-size: 85%;
    background-position-x: center;
    background-position-y: 100px;
    background-repeat: no-repeat;
}

.contato-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 400px;
}

.contato-principal-escrito{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 16px;
}

.contato-principal-escrito-titulo{
    font-size: 32px;
}

.contato-principal-escrito-subtitulo{
    font-size: 18px;
}


.link-contato{
    width: 25px;
}


.rodape{
    display: flex;
    padding: 36px;
    gap: 15px;
    margin: auto;
    align-items: center;
    width: 85%;
    margin: auto;
    font-size: 8px;
}


.rodape-imagem{
    width: 150px;
    display: block;
    margin: 0 auto;
}
